<footer class="footer-section bg-dark text-white pt-5 pb-3 mt-5">

    <div class="container">

        <div class="row">

            <!-- About -->

            <div class="col-lg-4 mb-4">

                <h4 class="mb-3">

                    Vrindavan Property

                </h4>

                <p>

                    Buy, Sell and Rent plots, villas,
                    flats, farm houses, hotels and
                    agriculture land across India.

                </p>

            </div>

            <!-- Quick Links -->

            <div class="col-lg-2 mb-4">

                <h5 class="mb-3">

                    Quick Links

                </h5>

                <ul class="list-unstyled">

                    <li>
                        <a href="/" class="text-white">
                            Home
                        </a>
                    </li>

                    <li>
                        <a href="/properties/"
                           class="text-white">
                            Properties
                        </a>
                    </li>

                    <li>
                        <a href="/blog/"
                           class="text-white">
                            Blog
                        </a>
                    </li>

                    <li>
                        <a href="/contact/"
                           class="text-white">
                            Contact
                        </a>
                    </li>

                </ul>

            </div>

            <!-- Categories -->

            <div class="col-lg-3 mb-4">

                <h5 class="mb-3">

                    Categories

                </h5>

                <ul class="list-unstyled">
                    {% for type in property_types %}

                    <li>

                        <a class="dropdown-item"
                           href="{% url 'category_properties' type.slug %}">

                            {{ type.name }}

                        </a>

                    </li>

                    {% endfor %}

                </ul>

            </div>

            <!-- Contact -->

            <div class="col-lg-3">

                <h5 class="mb-3">

                    Contact

                </h5>

                <p>

                    <i class="fas fa-phone"></i>

                    +91 8445336966

                </p>

                <p>

                    <i class="fas fa-envelope"></i>

                    info@propertyhub.com

                </p>

                <div class="d-flex gap-3 fs-4">

                    <a href="#"
                       class="text-white">

                        <i class="fab fa-facebook"></i>

                    </a>

                    <a href="#"
                       class="text-white">

                        <i class="fab fa-instagram"></i>

                    </a>

                    <a href="#"
                       class="text-white">

                        <i class="fab fa-youtube"></i>

                    </a>

                </div>

            </div>

        </div>

        <hr>

        <div class="text-center">

            © {% now "Y" %} PropertyHub.
            All Rights Reserved.

        </div>

    </div>

</footer>