<footer class="footer-section bg-dark text-white pt-5 pb-3 mt-5">

    <div class="container">

        <div class="row">

            <div class="col-lg-4 mb-4">

                <h4 class="mb-3">
                    Brij Vas
                </h4>

                <p>
                    Buy, sell and rent verified plots, villas, flats, farm
                    houses, hotels and agricultural land in Vrindavan and Mathura.
                </p>

            </div>

            <div class="col-lg-2 mb-4">

                <h5 class="mb-3">
                    Quick Links
                </h5>

                <ul class="list-unstyled">

                    <li>
                        <a href="{% url 'home' %}" class="text-white">
                            Home
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'property_list' %}"
                           class="text-white">
                            Properties
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'blog_list' %}"
                           class="text-white">
                            Blog
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'contact' %}"
                           class="text-white">
                            Contact
                        </a>
                    </li>

                </ul>

            </div>

            <div class="col-lg-3 mb-4">

                <h5 class="mb-3">
                    Categories
                </h5>

                <ul class="list-unstyled">
                    {% for type in property_types %}

                    <li>

                        <a class="text-white"
                           href="{% url 'category_properties' type.slug %}">

                            {{ type.name }}

                        </a>

                    </li>

                    {% endfor %}

                </ul>

            </div>

            <div class="col-lg-3">

                <h5 class="mb-3">
                    Contact
                </h5>

                <p>
                    <i class="fas fa-phone"></i>
                    <a href="tel:+918279408396" class="text-white">+91 8279408396</a>
                </p>

                <p>
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:srbc500@gmail.com" class="text-white">srbc500@gmail.com</a>
                </p>

                <p>
                    <i class="fas fa-map-marker-alt"></i>
                    Radha Nivas, Vrindavan, Mathura, Uttar Pradesh
                </p>

            </div>

        </div>

        <hr>

        <div class="text-center">
            Copyright {% now "Y" %} Brij Vas. All Rights Reserved.
        </div>

    </div>

</footer>
