<footer class="footer-section bg-dark text-white pt-5 pb-3 mt-5">

    <div class="container">

        <div class="row">

            <div class="col-lg-4 mb-4">

                <h4 class="mb-3">
                    {{ site_setting.site_name|default:"Property website" }}
                </h4>

                <p>
                    {{ site_setting.tagline }}
                </p>

            </div>

            <div class="col-lg-2 mb-4">

                <h5 class="mb-3">
                    Quick Links
                </h5>

                <ul class="list-unstyled">

                    <li>
                        <a href="{% url 'home' %}" class="text-white">
                            Home
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'property_list' %}"
                           class="text-white">
                            Properties
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'blog_list' %}"
                           class="text-white">
                            Blog
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'contact' %}"
                           class="text-white">
                            Contact
                        </a>
                    </li>

                </ul>

            </div>

            <div class="col-lg-3 mb-4">

                <h5 class="mb-3">
                    Categories
                </h5>

                <ul class="list-unstyled">
                    {% for type in property_types %}

                    <li>

                        <a class="text-white"
                           href="{% url 'category_properties' type.slug %}">

                            {{ type.name }}

                        </a>

                    </li>

                    {% endfor %}

                </ul>

            </div>

            <div class="col-lg-3">

                <h5 class="mb-3">
                    Contact
                </h5>

                <p>
                    <i class="fas fa-phone"></i>
                    <a href="tel:{{ site_setting.phone }}" class="text-white">{{ site_setting.phone }}</a>
                </p>

                <p>
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:{{ site_setting.email }}" class="text-white">{{ site_setting.email }}</a>
                </p>

                <p>
                    <i class="fas fa-map-marker-alt"></i>
                    {{ site_setting.address }}
                </p>

            </div>

        </div>

        <hr>

        <div class="text-center">
            Copyright {% now "Y" %} {{ site_setting.site_name|default:"Property website" }}. All Rights Reserved.
        </div>

    </div>

</footer>
