{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top py-3">

    <div class="container">

        <a class="navbar-brand fw-bold fs-3" href="{% url 'home' %}">

            <span class="text-primary">Brij</span>Vas

        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarContent">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse"
             id="navbarContent">

            <ul class="navbar-nav mx-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        Home
                    </a>
                </li>

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle"
                       href="#"
                       data-bs-toggle="dropdown">

                        Buy
                    </a>

                    <ul class="dropdown-menu">

                        {% for type in property_types %}

                        <li>

                            <a class="dropdown-item"
                               href="{% url 'category_properties' type.slug %}">

                                {{ type.name }}

                            </a>

                        </li>

                        {% endfor %}

                    </ul>

                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'property_list' %}">
                        Properties
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'blog_list' %}">
                        Blog
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'contact' %}">
                        Contact
                    </a>
                </li>

            </ul>

            <div class="d-flex gap-2">

                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser or request.user.user_type == 'owner' or request.user.user_type == 'agent' %}
                    <a href="{% url 'dashboard' %}"
                       class="btn btn-outline-primary">

                        Dashboard

                    </a>

                    <a href="{% url 'add_property' %}"
                       class="btn btn-primary">

                        Post Property

                    </a>
                    {% endif %}


                    <a href="{% url 'logout' %}"
                       class="btn btn-outline-primary">

                        Logout

                    </a>


                {% else %}

                    <a href="{% url 'login' %}"
                       class="btn btn-outline-primary">

                        Login

                    </a>

                {% endif %}

            </div>

        </div>

    </div>

</nav>