{% extends 'base.html' %}

{% block title %}
Edit Property
{% endblock %}

{% block content %}

{{ form.media }}

<section class="dashboard-section">

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-3">

                {% include 'dashboard/sidebar.html' %}

            </div>

            <div class="col-lg-9">

                <div class="card border-0 shadow">

                    <div class="card-header">

                        <h4>Edit Property</h4>

                    </div>

                    <div class="card-body">

                        <form method="POST"
                              enctype="multipart/form-data">

                            {% csrf_token %}

                            {{ form.as_p }}

                            <button class="btn btn-success">

                                Update Property

                            </button>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}
