<div class="dashboard-sidebar">

    <div class="sidebar-header">

        <h4>PropertyHub</h4>

    </div>

    <ul>

        <li>
            <a href="{% url 'dashboard' %}">
                <i class="fa-solid fa-gauge"></i>
                Dashboard
            </a>
        </li>

        {% if request.user.is_superuser or request.user.is_staff or request.user.user_type == 'owner' or request.user.user_type == 'agent' and request.user.is_verified %}
        <li>
            <a href="{% url 'add_property' %}">
                <i class="fa-solid fa-plus"></i>
                Add Property
            </a>
        </li>
        {% endif %}

        <li>
            <a href="{% url 'my_properties' %}">
                <i class="fa-solid fa-building"></i>
                My Properties
            </a>
        </li>

        <li>
            <a href="{% url 'enquiries' %}">
                <i class="fa-solid fa-envelope"></i>
                Enquiries
            </a>
        </li>

        <li>
            <a href="{% url 'wishlist' %}">
                <i class="fa-solid fa-heart"></i>
                Wishlist
            </a>
        </li>

        <li>
            <a href="{% url 'profile' %}">
                <i class="fa-solid fa-user"></i>
                Profile
            </a>
        </li>

        <li>
            <a href="{% url 'logout' %}">
                <i class="fa-solid fa-right-from-bracket"></i>
                Logout
            </a>
        </li>

    </ul>

</div>
